<!DOCTYPE html>
<html>
<head>
    <title>Uploads</title>
</head>
<body>

<h1>Your Uploads</h1>


<ul>
    {% for upload in uploads %}
        <li>
            {{ upload.institution }} ({{ upload.year }})
        </li>
    {% endfor %}
</ul>

<hr>

<h2>New Upload</h2>

<form action="/app/api/upload/" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <label>File:</label>
    <input type="file" name="file" required><br><br>

    <button type="submit">Upload</button>
</form>


</body>


<form action="/" method="get" style="display: inline;">
    <button type="submit">Return to Home</button>
</form>

</html>